.middle {
  vertical-align: middle;
}
.card-bg {
  background: black;
  color: white;
}
.removeBottomMargin {
  margin-bottom: 0 !important;
}
.fontSize {
  font-size: 20px;
  font-style: bold;
  cursor: pointer;
}
.grayClr {
  color: gray;
}
.tabBtn {
  background: no-repeat;
  color: gray;
}
.activeBtn {
  border-bottom: 2px solid yellow;
}
.tmpFontsize {
  font-size: small;
}
.active{
    color: white;
}
